<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.dev.js"></script>
<!--<script src="https//cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.min.js"></script>-->

<body>
	
	<canvas id="canvas" height=300 width=250 style="border:1px solid #000000;"></canvas>

	<input type="file" id="my_file" accept="image/*" style="display:none" onchange="load_img(this.files)">

	<!--<img id="faceimg" src="../static/img/2.jpg" height=200 width=180 alt="" style="border:1px solid #000000;">-->
	<br>
	<input value="Добавить изображение" type="button" id="add_img">
	<br>


	<p>Введите логин: </p><input id = 'login' type="text">
	<p>Введите пароль: </p><input id = 'password' type="text">
	<br><br>

	<input id="sign_in" value="Зарегистрироваться" type="button">
	<div id = "error"></div>

	<script type="text/javascript" src="{{ url_for('static', filename='js/function.js') }}"></script>

</body>

</html>